body{
    background-image:url('../img/cocina.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.col-auto.text-center img{
    margin-top: 10px;
}

.img-comida {
    width: 80px;
}

.img-mascota {
   width: 300px;
}