body{
    background-image:url('../img/cocina.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.img-mascota {
   width: 500px;
}

.img-comida {
    width: 150px;

    transition:0.3s;
}

.img-comida:hover{
    transform:scale(1.05);
}

.animacion {
    transition:0.3s;
}

.animacion:hover{
    transform:scale(1.05);
}

