body{
    background-image:url('../img/cama.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.mascota{
    width: 120px;
    transition: 0.3s;
}

.position-relative{
    max-width: 600px;
}