/* TARJETA */
.mascota-card{
    border: none;
    border-radius: 20px;
    background: #F8F4E6;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.mascota-card:hover{
    transform: translateY(-8px);
}

/* CONTENEDOR DE IMAGEN */
.img-container{
    position: relative;
    height: 250px;
}

/* IMÁGENES */
.mascota-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: opacity 0.4s;
}

/* IMAGEN FELIZ OCULTA */
.img-feliz{
    opacity: 0;
}

/* CAMBIO AL PASAR EL MOUSE */
.mascota-card:hover .img-normal{
    opacity: 0;
}

.mascota-card:hover .img-feliz{
    opacity: 1;
}

/* TÍTULO */
.mascota-card h5{
    margin-top: 10px;
    font-weight: bold;
}