<<<<<<< HEAD
/* FONDO */
body{
    margin:0;
    min-height:100vh;

    background-image:url('../img/fondo.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* OSCURECER UN POCO EL FONDO */
body::before{
    content:"";
    position:fixed;
    inset:0;

    background:rgba(255,255,255,0.2);

    z-index:-1;
}

/* TITULO */
h1{
    color:#8B5A2B;
    text-shadow:2px 2px 5px rgba(255,255,255,0.7);
}

/* TARJETAS */
.mascota-card{

    border:none;
    border-radius:25px;

    background:rgba(255,255,255,0.85);

    box-shadow:0 5px 15px rgba(0,0,0,0.15);

    transition:0.3s;
}

/* EFECTO */
.mascota-card:hover{

    transform:translateY(-10px) scale(1.03);

}

/* CONTENEDOR IMAGEN */
.img-container{

    position:relative;
    height:250px;
}

/* IMAGENES */
.mascota-img{

    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:250px;

    object-fit:contain;

    transition:0.4s;
}

/* IMAGEN FELIZ */
.img-feliz{
    opacity:0;
}

/* CAMBIO */
.mascota-card:hover .img-normal{
    opacity:0;
}

.mascota-card:hover .img-feliz{
    opacity:1;
}

/* TITULO CARD */
.mascota-card h5{

    margin-top:10px;

    font-weight:bold;

    color:#8B5A2B;
}

/* BOTONES */
.btn{

    border:none !important;

    border-radius:50px !important;

    font-weight:bold !important;

    padding:10px !important;

    transition:0.3s;
}

/* EFECTO BOTON */
.btn:hover{

    transform:scale(1.05);
=======
body{
    background-image:url('../img/fondo.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

}


.container{
    margin-top:12%;
}


.carousel{
    max-width:700px;
    margin:auto;
}

.mascota{

    width:28vw;

    max-width:500px;

    min-width:140px;

    height:auto;
}

.btn-img{

    width:22vw;

    max-width:400px;

    min-width:120px;

    height:auto;

}

.carousel-control-prev-icon,
.carousel-control-next-icon{

    width:80px;
    height:80px;

    background-color:#ffb300;

    border-radius:50%;
}

.carousel-control-prev{
    left:-60px;
}

.carousel-control-next{
    right:-60px;
}

@media (max-width:768px){

    .mascota{
        width:40vw;
    }

    .btn-img{
        width:35vw;
    }

    .carousel-control-prev{
        left:-20px;
    }

    .carousel-control-next{
        right:-20px;
    }

}

@media (min-width:1600px){

    .mascota{
        width:22vw;
    }
>>>>>>> 52a49a8cd56320c2016a0be63676a750c81decf6

}