body{

    background-image:url('../img/casa.png');

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;
}


.mascota{
    width: 600px;
}

.card{
    background-color:#fff3d6;
    border-color:#d9a14a;
}

.card h2,
.card h5{
    color:#6b3f12;
}