body{

    background-image:url('../img/casa.png');

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;
}


.pantalla-principal{

    position:relative;

    height:100vh;
}

/* nombre */

.nombre-mascota{

    position:absolute;

    top:35px;

    left:50%;

    transform:translateX(-50%);

    width:250px;

    background:white;

    border-radius:20px;

    padding:10px;

    font-size:30px;
}

/* mascota */

.zona-mascota{

    position:absolute;

    left:500px;

    top:200px;
}

.mascota{

    width:350px;
}

/* barras */

.barra-comida{

    position:absolute;

    bottom:35px;

    left:200px;

    width:250px;
}

.barra-sueno{

    position:absolute;

    bottom:35px;

    left:500px;

    width:250px;
}

.barra-felicidad{

    position:absolute;

    bottom:35px;

    left:790px;

    width:250px;
}

/* botones */

.panel-derecho{

    position:absolute;

    right:80px;

    top:100px;
}

.boton-menu{

    width:180px;
}