.acta-container{
    position: relative;
    width: 1500px;
    margin: auto;
}

.acta-container form{
    position: relative;
}

.acta-img{
    width: 100%;
    display: block;
    border-radius: 20px;
}

.overlay{
    position: absolute;
    inset: 0;
    z-index: 100;
}

.input-acta{
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: bold;
    color: #5b3400;
    z-index: 101;
}

.input-nombre{
    top: 40%;
    left: 42%;
    width: 260px;
}

.input-lugar{
    top: 40%;
    left: 70%;
    width: 260px;
}

.input-acta::placeholder{
    color: #9c7a4d;
}

.btn-guardar{
    position: absolute;
    top: 90%;
    left: 68%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #f4c542;
    color: black;
    cursor: pointer;
    z-index: 101;
}

.btn-guardar:hover{
    background: #ffd95e;
}