body{
    background-image:url('../img/patio.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.col-auto.text-center img{
    margin-top: 10px;
}

.img-mascota {
    position: absolute;
   width: 400px;
   top: 49%;
   left: 42%;
}

.img-balon {
    position: absolute;
    width: 130px;
    left: 39%;
    top: 76%;

    transition:0.3s;
}
.img-consola {
    position: absolute;
    width: 130px;
    left: 58%;
    top: 76%;

    transition:0.3s;
}

.img-balon:hover,
.img-consola:hover{
    transform:scale(1.05);
}

.animacion {
    transition:0.3s;
}

.animacion:hover{
    transform:scale(1.05);
}

.barra-progreso{
    position:absolute;
    left:42%;
    top:89%;
    width:1000px;

}