body{
    background-image:url('../img/patio.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.mascota{
    width: 450px;
    margin-top: 50%;
}

.img-balon,
.img-consola{
    width: 180px;
    transition: .3s;
}

.img-balon:hover,
.img-consola:hover,
.animacion:hover{
    transform: scale(1.05);
}

.animacion{
    transition: .3s;
}