body{
    background-image:url('../img/patio.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.col-auto.text-center img{
    margin-top: 10px;
}

.img-mascota {
   width: 300px;
}

.img-juguetes {
    width: 80px;

    transition:0.3s;
}

.img-juguetes:hover{
    transform:scale(1.05);
}

.animacion {
    transition:0.3s;
}

.animacion:hover{
    transform:scale(1.05);
}