body {
    background-image: url('../img/registrar.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.input-registro{
    position: absolute;
    height: 45px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    color: #7a4300;
    z-index: 10000;
}
.input-registro::placeholder{
    color: #7a4300;
}
.input-nombre{
    top: 40%;
    left: 40%;
    width: 140px;
}
.input-apellido{
    top: 40%;
    left: 53%;
    width: 140px;
}
.input-correo{
    top: 50%;
    left: 40%;
    width: 300px;
}
.input-password{
    top: 59%;
    left: 40%;
    width: 300px;
}
.input-confirmar-password{
    top: 68%;
    left: 40%;
    width: 300px;
}

.boton-registro{
    position: absolute;
    top: 72%;
    left: 42%;
    border: none;
    background: none;
    z-index: 10000;
}

.boton-registro img{
    width: 290px;
}
.link-login{
    top: 90%;
    left: 46%;
    color: #7a3f00;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    z-index: 10000;
}

