{% extends "base_publica.html" %}

{% block titulo %}
Cambiar contraseña
{% endblock %}

{% block contenido %}

<div class="card-login bg-white p-4 shadow">

    <h4 class="titulo-cafe text-center mb-3">
        Nueva contraseña
    </h4>

    <p class="text-center mb-3">
        Ingresa tu nueva contraseña
    </p>

    <div class="container mt-2">

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
                         role="alert">

                        {{ message }}

                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert">
                        </button>

                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

    </div>

    <form method="POST"
          action="{{ url_for('cambiar_password') }}">

        <!-- nueva contraseña -->

        <div class="mb-3">

            <input
                type="password"
                class="form-control"
                name="NuevaPassword"
                placeholder="Nueva contraseña"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Debe contener al menos una mayúscula, una minúscula, un número y mínimo 8 caracteres"
                required
            >

        </div>

        <!-- confirmar contraseña -->

        <div class="mb-3">

            <input
                type="password"
                class="form-control"
                name="ConfirmarPassword"
                placeholder="Confirmar contraseña"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                required
            >

        </div>

        <!-- botón -->

        <button type="submit"
                class="btn boton-amarillo w-100">

            Cambiar contraseña

        </button>

    </form>

</div>

{% endblock %}