{% extends "base_inicio.html" %}

{% block title %}Dormir - HoneyPuff{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dormir.css') }}">   


<div class="container text-center mt-4">

    {% if mascota.luz %}

        {% if mascota.tipo == "oso" %} 
            <img src="{{ url_for('static', filename='img/osito1.png') }}" class="img-fluid me-5"> 
            
            {% elif mascota.tipo == "gato" %} 
                <img src="{{ url_for('static', filename='img/gatito1.png') }}" class="img-fluid me-5"> 
                
                {% else %}
                    <img src="{{ url_for('static', filename='img/abejita1.png') }}" class="img-fluid me-5"> 
                    
        {% endif %}


    {% else %}

        {% if mascota.tipo == "oso" %} 
            <img src="{{ url_for('static', filename='img/osito1.png') }}" class="img-fluid me-5"> 
            
            {% elif mascota.tipo == "gato" %} 
                <img src="{{ url_for('static', filename='img/gatito1.png') }}" class="img-fluid me-5"> 
                
                {% else %}
                    <img src="{{ url_for('static', filename='img/abejita1.png') }}" class="img-fluid me-5"> 
                    
        {% endif %}


        <form action="{{ url_for('despertar') }}" method="POST" class="mt-3">
            <button type="submit" class="btn btn-warning">
                Despertar
            </button>
        </form>

    {% endif %}

</div>


{% endblock %}