{% extends "base_publica.html" %}

{% block title %}Dormir - HoneyPuff{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dormir.css') }}">   


<div class="container text-center mt-4">

    {% if mascota.luz %}

        <img
            src="{{ url_for('static', filename='img/abejita1.png') }}"
            class="img-fluid mascota"
        >

        <form action="{{ url_for('dormir') }}" method="POST" class="mt-3">
            <button type="submit" class="btn btn-dark">
                Dormir
            </button>
        </form>

    {% else %}

        <img
            src="{{ url_for('static', filename='img/abejadormida.png') }}"
            class="img-fluid mascota"
        >

        <form action="{{ url_for('despertar') }}" method="POST" class="mt-3">
            <button type="submit" class="btn btn-warning">
                Despertar
            </button>
        </form>

    {% endif %}

</div>


{% endblock %}