{% extends "base_inicio.html" %}

{% block title %}Cuarto{% endblock %}

{% block contenido %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/cuarto.css') }}">

<div class="cuarto {% if mascota.durmiendo %}noche{% else %}dia{% endif %}">

    <a href="{{ url_for('inicio_mascotas') }}" class="btn-regresar">
        <img src="{{ url_for('static', filename='img/btn_regresar.png') }}">
    </a>

    {% if mascota.tipo == "oso" %}

        {% if mascota.durmiendo %}
            <img src="{{ url_for('static', filename='img/oso_cansado.png') }}"
                 class="mascota">
        {% else %}
            <img src="{{ url_for('static', filename='img/osito1.png') }}"
                 class="mascota">
        {% endif %}

    {% elif mascota.tipo == "gato" %}

        {% if mascota.durmiendo %}
            <img src="{{ url_for('static', filename='img/gatodormido.png') }}"
                 class="mascota">
        {% else %}
            <img src="{{ url_for('static', filename='img/gatito1.png') }}"
                 class="mascota">
        {% endif %}

    {% else %}

        {% if mascota.durmiendo %}
            <img src="{{ url_for('static', filename='img/abejadormida.png') }}"
                 class="mascota">
        {% else %}
            <img src="{{ url_for('static', filename='img/abejita1.png') }}"
                 class="mascota">
        {% endif %}

    {% endif %}

    {% if mascota.durmiendo %}

        <a href="{{ url_for('despertar') }}" class="lampara">
            <img src="{{ url_for('static', filename='img/lamparaapagada.png') }}">
        </a>

    {% else %}

        <a href="{{ url_for('dormir') }}" class="lampara">
            <img src="{{ url_for('static', filename='img/lampara.png') }}">
        </a>

    {% endif %}

</div>

{% endblock %}