{% extends "base_publica.html" %}

{% block titulo %}
Acta de Nacimiento - Abejita
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mascotas.css') }}">


<div class="container mt-4 d-flex justify-content-center">

    <div class="acta-container">

        <form method="POST" action="{{ url_for('elegir_abeja') }}">

            <img src="{{ url_for('static', filename='img/acta2abeja.jpeg') }}"
                 class="acta-img"
                 alt="Acta Abejita">

            <div class="overlay">

                <input type="text"
                       name="nombre"
                       class="input-acta input-nombre"
                       placeholder="Escribe aquí"
                       minlength="3"
                       maxlength="30"
                       pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+"
                       title="Solo letras, espacios, comas y puntos. Minimo 3 caracteres."
                       required>

                <input type="text"
                       name="lugar_nacimiento"
                       class="input-acta input-lugar"
                       placeholder="Escribe aquí"
                       minlength="3"
                       maxlength="30"
                       pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ,.]+"
                       title="Solo letras, espacios, comas y puntos. Máximo 30 caracteres."
                       required>

                <button type="submit" class="btn-guardar">
                    Guardar
                </button>

            </div>

        </form>

    </div>

</div>

{% endblock %}