{% extends "base_inicio.html" %}

{% block titulo %}Acta de Nacimiento - Abejita{% endblock %}

{% block contenido %}

<div class="container mt-4 d-flex justify-content-center">

    <div class="acta-container">


        <img src="{{ url_for('static', filename='img/actagatito.jpeg') }}"
             class="acta-img"
             alt="Acta Abejita">

        <div class="overlay">

       
            <input type="text"
                   class="input-acta input-nombre"
                   placeholder="Escribe aquí">

       
            <input type="text"
                   class="input-acta input-fecha"
                   placeholder="DD/MM/AAAA">

            <input type="text"
                   class="input-acta input-lugar"
                   placeholder="Escribe aquí">

        </div>

    </div>

</div>

{% endblock %}