{% extends "base_inicio.html" %}

{% block titulo %}Acta de Nacimiento - Abejita{% endblock %}

{% block contenido %}

<div class="container mt-4 d-flex justify-content-center">

    <div class="acta-container">

        <!-- IMAGEN -->
        <img src="{{ url_for('static', filename='img/abejitaacta.jpeg') }}"
             class="acta-img"
             alt="Acta Abejita">

        <!-- INPUTS ENCIMA -->
        <div class="overlay">

            <!-- NOMBRE -->
            <input type="text"
                   class="input-acta input-nombre"
                   placeholder="Escribe aquí">

            <!-- FECHA -->
            <input type="text"
                   class="input-acta input-fecha"
                   placeholder="DD/MM/AAAA">

            <!-- LUGAR -->
            <input type="text"
                   class="input-acta input-lugar"
                   placeholder="Escribe aquí">

        </div>

    </div>

</div>

{% endblock %}