{% extends "base_inicio.html" %}

{% block titulo %}Elige tu mascota{% endblock %}

{% block contenido %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/elejir.css') }}">

<div class="container">

    <div id="carouselMascotas"
         class="carousel slide">

        <div class="carousel-inner">

            <div class="carousel-item active text-center">

                <img src="{{ url_for('static', filename='img/osito1.png') }}"
                     class="mascota img-fluid">

                <br>

                <a href="{{ url_for('elejir_oso') }}">

                    <img src="{{ url_for('static', filename='img/boton_selec.png') }}"
                         class="btn-img">

                </a>

            </div>

            <div class="carousel-item text-center">

                <img src="{{ url_for('static', filename='img/gatito1.png') }}"
                     class="mascota img-fluid">

                <br>

                <a href="{{ url_for('elejir_gato') }}">

                    <img src="{{ url_for('static', filename='img/boton_selec.png') }}"
                         class="btn-img">

                </a>

            </div>

            <div class="carousel-item text-center">

                <img src="{{ url_for('static', filename='img/abejita1.png') }}"
                     class="mascota img-fluid">

                <br>

                <a href="{{ url_for('elejir_abeja') }}">

                    <img src="{{ url_for('static', filename='img/boton_selec.png') }}"
                         class="btn-img">

                </a>

            </div>

        </div>


        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselMascotas"
                data-bs-slide="prev">

            <span class="carousel-control-prev-icon"></span>

        </button>

        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselMascotas"
                data-bs-slide="next">

            <span class="carousel-control-next-icon"></span>

        </button>

    </div>

</div>

{% endblock %}
