{% extends "base_inicio.html" %}

{% block titulo %}
Acta de Nacimiento - Abejita
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{{ url_for('static', filename='mascotas.css') }}">
    
<div class="container mt-4 d-flex justify-content-center">
<link rel="stylesheet" href="{{ url_for('static', filename='mascotas.css') }}">
    
    <div class="acta-container">

        <form method="POST" action="{{ url_for('elejir_abeja') }}">

            <img src="{{ url_for('static', filename='img/acta2abeja.jpeg') }}"
                 class="acta-img"
                 alt="Acta Abejita">

            <div class="overlay">

                <input type="text"
                       name="nombre"
                       class="input-acta input-nombre"
                       placeholder="Escribe aquí">

                

                <input type="text"
                       name="lugar_nacimiento"
                       class="input-acta input-lugar"
                       placeholder="Escribe aquí">

            </div>
        <button type="submit" class="btn-guardar">
    Guardar
</button>

        </form>

    </div>

</div>

{% endblock %}
