{% extends "base_inicio.html" %}

{% block titulo %}
Acta de Nacimiento - gatito
{% endblock %}

{% block contenido %}

<div class="container mt-4 d-flex justify-content-center">

    <div class="acta-container">

        <form method="POST" action="{{ url_for('elejir_gato') }}">

            <img src="{{ url_for('static', filename='img/acta2gato.jpeg') }}"
                 class="acta-img"
                 alt="Acta Gatito">

            <div class="overlay">

                <input type="text"
                       name="nombre"
                       class="input-acta input-nombre"
                       placeholder="Escribe aquí">

               

                <input type="text"
                       name="lugar_nacimiento"
                       class="input-acta input-lugar"
                       placeholder="Escribe aquí">

            </div>

                   <button type="submit" class="btn-guardar">
    Guardar
</button>

        </form>

    </div>

</div>

{% endblock %}
