{% extends "base_inicio.html" %}

{% block titulo %}HoneyPuff{% endblock %}

{% block contenido %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/iniciomascotas.css') }}">

<div class="container-fluid vh-100 d-flex flex-column">

    <div class="row mt-3 align-items-center">

        <div class="col-2">

            <a href="{{ url_for('configuracion') }}">
                <img src="{{ url_for('static', filename='img/btn_config.png') }}" class="img-fluid">
            </a>

        </div>

        <div class="col-lg-2 col-md-4">

            <div class="card shadow rounded-4">

                <div class="card-body text-center">

                    <h2 class="fw-bold mb-0">
                        {{ mascota.nombre }}
                    </h2>

                </div>

            </div>

        </div>

    </div>

    <div class="row flex-grow-1 align-items-center">


        <div class="col-md-9 d-flex align-items-center justify-content-end">
           <div class="me-4 mt-5">
            {% if mascota.tipo == "oso" %}

                {% if mascota.estado == "hambriento" %}
                    <img src="{{ url_for('static', filename='img/oso_hambriento.png') }}" class="img-fluid mascota">

                {% elif mascota.estado == "cansado" %}
                    <img src="{{ url_for('static', filename='img/oso_cansado.png') }}" class="img-fluid mascota">

                {% elif mascota.estado == "triste" %}
                    <img src="{{ url_for('static', filename='img/oso_triste.png') }}" class="img-fluid mascota">

                {% else %}
                    <img src="{{ url_for('static', filename='img/osito1.png') }}" class="img-fluid mascota">
                {% endif %}

            {% elif mascota.tipo == "gato" %}

                {% if mascota.estado == "hambriento" %}
                    <img src="{{ url_for('static', filename='img/gato_hambriento.png') }}" class="img-fluid mascota">

                {% elif mascota.estado == "cansado" %}
                    <img src="{{ url_for('static', filename='img/gato_cansado.png') }}" class="img-fluid mascota">

                {% elif mascota.estado == "triste" %}
                    <img src="{{ url_for('static', filename='img/gato_triste.png') }}" class="img-fluid mascota">

                {% else %}
                    <img src="{{ url_for('static', filename='img/gatito1.png') }}" class="img-fluid mascota">
                {% endif %}

            {% else %}

                {% if mascota.estado == "hambriento" %}
                    <img src="{{ url_for('static', filename='img/abeja_hambrienta.png') }}" class="img-fluid mascota">

                {% elif mascota.estado == "cansado" %}
                    <img src="{{ url_for('static', filename='img/abeja_cansada.png') }}" class="img-fluid mascota">

                {% elif mascota.estado == "triste" %}
                    <img src="{{ url_for('static', filename='img/abeja_triste.png') }}" class="img-fluid mascota">

                {% else %}
                    <img src="{{ url_for('static', filename='img/abejita1.png') }}" class="img-fluid mascota">
                {% endif %}

            {% endif %}

          </div>
        </div>

          <div class="col-md-3 d-flex justify-content-end">

            <div class="d-grid gap-3">

                <a href="{{ url_for('cocina') }}">
                    <img src="{{ url_for('static', filename='img/btn_cocina.png') }}" class="img-fluid">
                </a>

                <a href="#">
                    <img src="{{ url_for('static', filename='img/btn_patio.png') }}" class="img-fluid">
                </a>

                <a href="#">
                    <img src="{{ url_for('static', filename='img/btn_cuarto.png') }}" class="img-fluid">
                </a>

            </div>

        </div>

    </div>

    <div class="row justify-content-center g-5 mb-5">
        <div class="col-lg-3 col-md-4">
            <div class="card shadow rounded-4">

                <div class="card-body">

                    <h5 class="text-center fw-bold">
                        COMIDA
                    </h5>

                    <div class="progress" style="height: 30px;">

                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                            style="width: {{ mascota.comida }}%;">

                            {{ mascota.comida }}%

                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="col-lg-3 col-md-4">
            <div class="card shadow rounded-4 border-info">
                <div class="card-body">

                    <h5 class="text-center fw-bold">
                        SUEÑO
                    </h5>

                    <div class="progress" style="height: 30px;">

                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                            style="width: {{ mascota.sueño }}%;">

                            {{ mascota.sueño }}%

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card shadow rounded-4 border-success">
                <div class="card-body">

                    <h5 class="text-center fw-bold">
                        FELICIDAD
                    </h5>

                    <div class="progress" style="height: 30px;">

                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                            style="width: {{ mascota.felicidad }}%;">

                            {{ mascota.felicidad }}%

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}