{% extends "base_inicio.html" %}

{% block titulo %}HoneyPuff{% endblock %}

{% block contenido %}

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/iniciomascotas.css') }}">

<div class="pantalla-principal">

    <!-- nombre mascota -->

    <div class="nombre-mascota text-center fw-bold">

        {{ mascota.nombre }}

    </div>

    <!-- mascota seleccionada -->

    <div class="zona-mascota text-center">

        {% if mascota.tipo == "oso" %}

            <img src="{{ url_for('static', filename='img/osito1.png') }}"
                 class="img-fluid mascota">

        {% elif mascota.tipo == "gato" %}

            <img src="{{ url_for('static', filename='img/gatito1.png') }}"
                 class="img-fluid mascota">

        {% else %}

            <img src="{{ url_for('static', filename='img/abejita1.png') }}"
                 class="img-fluid mascota">

        {% endif %}

    </div>

    <!-- progress bar -->

    <div class="barra-comida">

        <div class="progress">

            <div class="progress-bar bg-warning"
                 style="width: {{ mascota.comida }}%;">

                {{ mascota.comida }}%

            </div>

        </div>

    </div>


    <div class="barra-sueno">

        <div class="progress">

            <div class="progress-bar bg-info"
                 style="width: {{ mascota.sueno }}%;">

                {{ mascota.sueno }}%

            </div>

        </div>

    </div>

    <div class="barra-felicidad">

        <div class="progress">

            <div class="progress-bar bg-success"
                 style="width: {{ mascota.felicidad }}%;">

                {{ mascota.felicidad }}%

            </div>

        </div>

    </div>


    <div class="panel-derecho d-flex flex-column gap-3">

        <a href="#">

            <img src="{{ url_for('static', filename='img/btn_cocina.png') }}"
                 class="img-fluid boton-menu">

        </a>

        <a href="#">

            <img src="{{ url_for('static', filename='img/btn_patio.png') }}"
                 class="img-fluid boton-menu">

        </a>

        <a href="#">

            <img src="{{ url_for('static', filename='img/btn_cuarto.png') }}"
                 class="img-fluid boton-menu">

        </a>

    </div>

</div>

{% endblock %}