<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
</head>

<body>

    <audio autoplay loop>
        <source src="{{ url_for('static', filename='audio/menu.mp3') }}" type="audio/mp3">
    </audio>

    <div class="inicio">

        <a href="{{ url_for('elejir') }}">

            <img src="{{ url_for('static', filename='img/boton.png') }}" class="boton">

        </a>

    </div>


</body>



    
