{% extends "base_publica.html" %}

{% block titulo %}
Recuperar contraseña
{% endblock %}

{% block contenido %}

<div class="card-login bg-white p-4 shadow">

        <h4 class="titulo-cafe text-center mb-3">
            Recuperar contraseña
        </h4>

        <p class="text-center text-muted mb-4">
            Ingresa tu correo y te enviaremos un código para recuperar tu contraseña.
        </p>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('recuperar') }}">

            <div class="mb-3">

                <label class="form-label titulo-cafe">
                    Correo electrónico
                </label>

                <input
                    type="email"
                    name="Email"
                    class="form-control"
                    placeholder="ejemplo@gmail.com"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    required
                >

            </div>

            <button type="submit"
                class="btn boton-amarillo w-100">
                Enviar código
            </button>

        </form>

        <div class="text-center mt-3">

            <a href="{{ url_for('login') }}" class="titulo-cafe">
                Volver al inicio de sesión
            </a>

        </div>

</div>

{% endblock %}