{% extends "base_publica.html" %}

{% block titulo %}
Registrate
{% endblock %}

{% block contenido %}

<div class="card-login bg-white p-4 shadow">

    <h4 class="titulo-rosa text-center mb-3">
        Crear cuenta
    </h4>


    <div class="container mt-2">

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div
                        class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show"
                        role="alert">

                        {{ message }}

                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="alert">
                        </button>

                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

    </div>

    <form method="POST" action="{{ url_for('registro') }}">

        <div class="mb-3">

            <input
                type="text"
                class="form-control"
                id="Nombre"
                name="Nombre"
                placeholder="Nombre de usuario"
                minlength="3"
                maxlength="20"
                value="{{ request.form.get('Nombre', '') }}"
                required
            />

        </div>

      
        <div class="mb-3">

            <input
                type="email"
                class="form-control"
                id="Email"
                name="Email"
                placeholder="Correo electrónico"
                value="{{ request.form.get('Email', '') }}"
                required
            />

        </div>

      
        <div class="mb-3">

            <input
                type="password"
                class="form-control"
                id="Contra"
                name="Contra"
                placeholder="Contraseña"
                title="Mínimo 8 caracteres, una mayúscula y un número"
                required
            />

        </div>

  
        <div class="mb-3">

            <input
                type="password"
                class="form-control"
                id="ContraConfirm"
                name="ContraConfirm"
                placeholder="Confirmar contraseña"
                required
            />

        </div>

        <button
            type="submit"
            class="btn boton-rosa w-100 mb-2">

            Registrarse

        </button>

    </form>

    <!-- LOGIN -->
    <div class="text-center">

        <small>
            ¿Ya tienes cuenta?
        </small>

        <br>

        <a
            href="{{ url_for('login') }}"
            class="titulo-rosa">

            Iniciar sesión

        </a>

    </div>

</div>

{% endblock %}  