{% extends "base_publica.html" %}
{% block titulo %}Registrate{% endblock %}

{% block contenido %}

<link rel="stylesheet"
href="{{ url_for('static', filename='css/registro.css') }}">

 <audio autoplay loop>
        <source src="{{ url_for('static', filename='audio/menu.mp3') }}" type="audio/mp3">
    </audio>

<!-- IMAGEN COMPLETA -->
<img src="{{ url_for('static', filename='img/registrar.png') }}"
     class="fondo-registro">

<!-- FORMULARIO -->
<form method="POST"
      action="{{ url_for('registro') }}">

    <!-- NOMBRE -->
    <input type="text"
           class="input-registro input-nombre"
           name="Nombre"
           placeholder="Nombre"
           required>

    <!-- APELLIDO -->
    <input type="text"
           class="input-registro input-apellido"
           name="Apellido"
           placeholder="Apellido"
           required>

    <!-- CORREO -->
    <input type="email"
           class="input-registro input-correo"
           name="Email"
           placeholder="Correo electrónico"
           required>

    <!-- PASSWORD -->
    <input type="password"
           class="input-registro input-password"
           name="Contra"
           placeholder="Contraseña"
           required>

    <!-- CONFIRMAR -->
    <input type="password"
           class="input-registro input-confirmar-password"
           name="ContraConfirm"
           placeholder="Confirmar contraseña"
           required>

    <!-- BOTON -->
    <button type="submit"
            class="boton-registro">

        <img src="{{ url_for('static', filename='img/btnregistro.png') }}">

    </button>
   
<a href="{{ url_for('login') }}"
   class="link-login">
   iniciar sesión

</a>

</form>

{% endblock %}
